<section> <!-- vertical slide set start {{slide.id}} -->
   <section {{#slide.class}}class='{{slide.class}}' {{/slide.class}}{{#slide.ds}}data-state='{{slide.ds}}' {{/slide.ds}}{{#slide.id}}id='{{slide.id}}' {{/slide.id}}{{#slide.bg}}data-background='{{slide.bg}}' {{/slide.bg}}{{#slide.dt}}data-transition='{{slide.dt}}' {{/slide.dt}}{{#slide.bt}}background-transition='{{slide.bt}}'{{/slide.bt}}> <!-- first vertical slide {{slide.id}}-->
    {{{slide.header}}}
    {{{slide.content}}}
    <aside class='notes'>
      {{{ slide.pnotes }}}
    </aside>
   </section> <!-- end first vertical slide {{slide.id}}-->
   {{# slide.blocks }}
   <section {{#class}}class='{{class}}' {{/class}}{{#ds}}data-state='{{ds}}' {{/ds}}{{#id}}id='{{id}}' {{/id}}{{#bg}}data-background='{{bg}}' {{/bg}}{{#dt}}data-transition='{{dt}}' {{/dt}}{{#bt}}background-transition='{{bt}}'{{/bt}}> <!-- block start {{slide.id}}/{{id}}-->
    {{{ html }}}
    <aside class='notes'>
      {{{ pnotes.html }}}
    </aside>
   </section> <!-- block end {{slide.id}}/{{id}}-->
   {{/ slide.blocks }}
</section> <!-- vertical slide set end {{slide.id}}-->
