{{#page.title}}
<section class='center{{#slide.class}} {{slide.class}}{{/slide.class}}'{{#slide.ds}} data-state='{{slide.ds}}'{{/slide.ds}}{{#slide.id}} id='{{slide.id}}'{{/slide.id}}> <!-- start title slide-->
  {{{ slide.header }}}
  <h1>{{{page.title}}}</h1>
  {{#page.subtitle}}
  <h2 class='subtitle'>{{{page.subtitle}}}</h2>
  {{/page.subtitle}}
  {{#site.course}}
  <h3 class='subtitle'>{{{site.course}}}</h3>
  {{/site.course}}
  {{#site.course_name}}
  <h3 class='subtitle'>{{{site.course_name}}}</h3>
  {{/site.course_name}}
  {{#page.author}}
  <h3>{{{page.author}}}<br/>{{page.job}}</h3>
  {{/page.author}}
  {{^page.author}}
  {{#site.author}}
  <h3>{{{site.author}}}<br/>{{site.job}}</h3>
  {{/site.author}}
  {{/page.author}}
  {{#page.class_date}}
  <h3 class='date'>
    {{#page.class_no}}
    Class #{{page.class_no}}:
    {{/page.class_no}}
    {{page.class_date}}</h3>
  {{/page.class_date}}
  {{^page.class_date}}
  {{#site.year}}
  <h3 class='date'>
    {{#page.class_no}}
    Class #{{page.class_no}},
    {{/page.class_no}}
    {{site.semester}} {{site.year}}</h3>
  {{/site.year}}
  {{/page.class_date}}
  {{{ slide.content }}}
  {{#page.qrimage}}<div style="position: fixed; bottom: {{#page.qrbottom}}{{page.qrbottom}}{{/page.qrbottom}}{{^page.qrbottom}}-40%{{/page.qrbottom}}; left:10px; text-align:left; vertical-align:bottom;">
  <p style="font-size:30%;">
  <img src="{{page.qrimage}}" alt="page.url"/>
  {{#page.pageurl}}
  <br/>
  Live web page: <a href="{{page.pageurl}}">{{page.pageurl}}</a>
  {{/page.pageurl}}
  {{/page.qrimage}}
  {{# slide.pnotes }}
  <aside class='notes'>
    {{{ html }}}
  </aside>
  {{/ slide.pnotes }}
</section> <!-- end title slide-->
{{/page.title}}
